@model KeyValuePair<ProductViewModel,int>


    
        <td class="cart_product">
            <a asp-action="ProductDetails" asp-controller="Catalog" asp-route-id="@Model.Key.Id">
                <img src="~/images/shop/@Model.Key.ImageUrl" alt="@Model.Key.Name">
            </a>
        </td>
        <td class="cart_description">
            <h4><a asp-action="ProductDetails" asp-controller="Catalog" asp-route-id="@Model.Key.Id">@Model.Key.Name</a></h4>
            <p>Web ID: @Model.Key.Id</p>
        </td>
        <td class="cart_price">
            <p>@Model.Key.Price.ToString("C")</p>
        </td>
        <td class="cart_quantity">
            <div class="cart_quantity_button">
                <a class="cart_quantity_up" asp-controller="Cart" asp-action="IncimentFromCart"
                   asp-route-id="@Model.Key.Id" asp-route-returnUrl="@Context.Request.Path"
                   data-id="@Model.Key.Id"> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="@Model.Value" autocomplete="off" size="2">
                <a class="cart_quantity_down" asp-controller="Cart" asp-action="DecrimentFromCart"
                   asp-route-id="@Model.Key.Id" asp-route-returnUrl="@Context.Request.Path"
                   data-id="@Model.Key.Id"> - </a>
            </div>
        </td>
        <td class="cart_total">
            <p class="cart_total_price">@((Model.Value * Model.Key.Price).ToString("C"))</p>
        </td>
        <td class="cart_delete">
            <a class="cart_quantity_delete" asp-controller="Cart" asp-action="RemoveFromCart"
               asp-route-id="@Model.Key.Id" asp-route-returnUrl="@Context.Request.Path"
               data-id="@Model.Key.Id"><i class="fa fa-times"></i></a>
        </td>
    
