@model IEnumerable<Victor_WebStore.Domain.DTO.Order.OrderItemDTO>

@{
    ViewData["Title"] = "Заказ № " + Model.FirstOrDefault(x => true).OrderId;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <table class="table table-condensed">
        <thead>
            <tr class="cart_menu">
                <td>Заказ №</td>
                <td>Товар</td>
                <td>Количество</td>
                <td>Стоимость</td>
                <td>Итоговая стоимость</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Product.Id"> @item.Product.Name</a> </td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Orders">Back to List</a>
</div>
