@model Victor_WebStore.ViewModels.ProductsViewModel
@{
    Layout = "_topFooter";
}
<div class="details" style="display: flex; flex-wrap:wrap">
    <div>
        <img src="#" alt="Foto" style="border: 1px solid black;
                                        min-height: 110px;
                                        min-width: 110px;" />
    </div>
    <table class="table table-border">
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Тип комплектующих</td>
            <td>@Model.Type</td>
        </tr>
        <tr>
            <td>Изготовитель</td>
            <td>@Model.Manufacturer</td>
        </tr>
        <tr>
            <td>Модель</td>
            <td>@Model.Model</td>
        </tr>
        <tr>
            <td>Цена</td>
            <td>@Model.Price</td>
        </tr>
    </table>
</div>

<p>@Html.ActionLink("Назад", "All")</p>
