@model IEnumerable<Victor_WebStore.ViewModels.EmployeeViewModel>
@{
    ViewData["Title"] = "Все работники";
}
<p><a asp-action="Edit" class="btn btn-success">Добавить</a></p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>
                @Html.ActionLink("Детали", "EmployeeDetails", new { id = item.Id })
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    }
</table>
