@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Корзина";
}

<section id="cart_items">
    <div class="container">
        @await Html.PartialAsync("Partial/_Breadcrumbs")
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartViewModel.Items)
                    {
                    <tr id="@item.Key.Id">
                        <td class="cart_product">
                            <a asp-action="ProductDetails" asp-controller="Catalog" asp-route-id="@item.Key.Id">
                                <img src="~/images/shop/@item.Key.ImageUrl" alt="@item.Key.Name">
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4><a asp-action="ProductDetails" asp-controller="Catalog" asp-route-id="@item.Key.Id">@item.Key.Name</a></h4>
                            <p>Web ID: @item.Key.Id</p>
                        </td>
                        <td class="cart_price">
                            <p>@item.Key.Price.ToString("C")</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" asp-controller="Cart" asp-action="IncimentFromCart"
                                   asp-route-id="@item.Key.Id" asp-route-returnUrl="@Context.Request.Path"
                                   data-id="@item.Key.Id"> + </a>
                                <div class="cart_quantity_input"><vc:cart-item-count cart-item-count="@item.Value"/></div>
                                <a class="cart_quantity_down" asp-controller="Cart" asp-action="DecrimentFromCart"
                                   asp-route-id="@item.Key.Id" asp-route-returnUrl="@Context.Request.Path"
                                   data-id="@item.Key.Id"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price"><vc:cart-item-price  item-price="@(item.Value * item.Key.Price)"/></p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" asp-controller="Cart" asp-action="RemoveFromCart"
                               asp-route-id="@item.Key.Id" asp-route-returnUrl="@Context.Request.Path"
                               data-id="@item.Key.Id"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    }
                    <tr id="total_price_vc">
                        <td>
                        </td>
                        <td class="cart_description">
                            <h4>Всего товара</h4>
                        </td>
                        <td id="total_count" class="cart_description">
                            <h4 class="total_count"><vc:total-count total-count="@Model.CartViewModel.ItemCount"/> </h4>
                        </td>
                        <td class="cart_description">
                            <h4>На сумму</h4>
                        </td>
                        <td class="cart_total">
                            <span class="cart_total_price total_price"> <vc:total-price total-price="@Model.CartViewModel.TotalPrice" /></span>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="heading">
        <h3>Оформить заказ</h3>
    </div>
    <div class="row login-form">
        @Html.Partial("_OrderPartial", Model.OrderViewModel, new ViewDataDictionary(ViewData) { { "sumCart", Model.CartViewModel.TotalPrice } })
    </div>
</section>
