@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Корзина";
}

<section id="cart_items">
    <div class="container">
        @await Html.PartialAsync("Partial/_Breadcrumbs")
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartViewModel.Items)
                    {
                        <tr id="@item.Key.Id">
                            <vc:cart-item cart-item="@item"></vc:cart-item>
                        </tr>
                    }
                    <tr>
                        <td>
                        </td>
                        <td class="cart_description">
                            <h4>Всего товара</h4>
                        </td>
                        <td class="cart_description">
                            <h4>@Model.CartViewModel.ItemCount шт.</h4>
                        </td>
                        <td class="cart_description">
                            <h4>На сумму</h4>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@Model.CartViewModel.TotalPrice.ToString("C")</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="heading">
        <h3>Оформить заказ</h3>
    </div>
    <div class="row login-form">
        @Html.PartialAsync("_OrderPartial", Model.OrderViewModel, new ViewDataDictionary(ViewData) { { "sumCart", Model.CartViewModel.TotalPrice } })
    </div>
</section>
